*,
after,
before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
&menu-toggle + .main-menu{
    display:block;
    display:none;
}
*/
.navbar {
  background-color: #f2ebd1;
  /* Background color of the navbar */
  color: black;
  /* Text color */
  padding: 10 px 20px;
  /* Padding around the navbar items */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Center-align the text */
}
.navbar img {
  margin: 18px;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.navbar ul li {
  margin: 8px;
  font-size: 20px;
  padding: 10px;
}
.navbar ul li ion-icon {
  font-size: 18px;
  /* Change the icon size */
  color: black;
  /* Change the icon color */
}
.navbar ul button {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  background-color: #ffcc00;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.navbar .navbar a {
  text-decoration: none;
  /* Remove underline from links */
  color: #fff;
  /* Text color for links */
  margin: 0 15px;
  /* Margin between navbar items */
}
.navbar .navbar a a:hover {
  color: #ffcc00;
  /* Change text color to yellow on hover */
}

.hero {
  background-color: #f2ebd1;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.hero img {
  width: 100%;
  grid-area: 1/2/2/3;
}
.hero h1 {
  font-size: 55px;
}
.hero .hero-content {
  margin: 20px;
  padding: 30px;
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
}
.hero .hero-content h1 {
  padding: 35px;
}
.hero .hero-content p {
  font-size: 30px;
  padding: 35px;
  font-weight: 500;
}
.hero .hero-content button {
  width: 30%;
  background-color: #ffcc00;
  font-size: 35px;
  margin-left: 38px;
  cursor: pointer;
}

.hero-wave img {
  width: 100%;
  background: #f5ebd2;
}

.offers {
  padding: 0 30px;
  background-color: white;
  display: grid;
  grid-template-columns: 1.2fr 0.1fr 1.4fr 0.1fr 1fr;
  grid-template-rows: 0.6fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas: "one two three four five" "extra extra . . .";
}
.offers .extra {
  margin: 0 20px;
  padding: 0 40px;
  grid-area: extra;
  width: 100%;
  color: rgb(119, 118, 118);
}
.offers .one {
  margin: 20px;
  padding: 40px;
  grid-area: one;
  display: flex;
  flex-direction: column;
}
.offers .one img {
  width: 10%;
}
.offers .one h3,
.offers .one p {
  margin: 10px;
  font-size: 20px;
}
.offers .two {
  grid-area: two;
  border-left: 3px solid #000;
  /* 1px solid black line */
  height: 200px;
  margin: auto;
}
.offers .three {
  margin: 20px;
  padding: 40px;
  font-size: 20px;
  grid-area: three;
}
.offers .three img {
  width: 10%;
}
.offers .three h3,
.offers .three p {
  margin: 10px;
  font-size: 20px;
}
.offers .four {
  grid-area: four;
  border-left: 3px solid #000;
  /* 1px solid black line */
  height: 200px;
  margin: auto;
}
.offers .five {
  margin: 20px;
  padding: 40px;
  font-size: 20px;
  grid-area: five;
}
.offers .five img {
  width: 10%;
}
.offers .five h3,
.offers .five p {
  margin: 10px;
  font-size: 20px;
}

/*.savings {
    background-color: #FFF9EA;

    .blueberry,
    .milk,
    .meat,
    .pop,
    .af,
    .nec,
    .wafel,
    .mozz {
        background-color: white;
        width: 100px;
    }

    img {
        width: 50px;
    }

}*/
.savings {
  background-color: #FFF9EA;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "left right";
}
.savings img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
.savings h3 {
  font-size: 1.5em;
  color: #9A4726;
  margin-bottom: 10px;
}
.savings p {
  font-size: 1em;
  color: #333;
}
.savings .left {
  margin: 75px;
  background-color: #FFF9EA;
  grid-area: left;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 20px;
  grid-template-areas: "blueberry milk meat pop" "af nec wafel mozz";
}
.savings .left .blueberry {
  grid-area: blueberry;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 7px 5px #4d4949;
}
.savings .left .milk {
  grid-area: milk;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 7px 5px #4d4949;
}
.savings .left .meat {
  grid-area: meat;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 7px 5px #4d4949;
}
.savings .left .pop {
  grid-area: pop;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 7px 5px #4d4949;
}
.savings .left .af {
  grid-area: af;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 7px 5px #4d4949;
}
.savings .left .nec {
  grid-area: nec;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 7px 5px #4d4949;
}
.savings .left .wafel {
  grid-area: wafel;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 7px 5px #4d4949;
}
.savings .left .mozz {
  grid-area: mozz;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 7px 5px #4d4949;
}
.savings .right {
  grid-area: right;
}

/*# sourceMappingURL=style.css.map */
