*,
after,
before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
&menu-toggle + .main-menu{
    display:block;
    display:none;
}
*/

.navbar {
    background-color: #f2ebd1;
    /* Background color of the navbar */
    color: black;
    /* Text color */
    padding: 10px 20px;
    /* Padding around the navbar items */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
        margin: 18px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        li {
            margin: 8px;
            font-size: 20px;
            padding: 10px;

            ion-icon {
                font-size: 18px;
                /* Change the icon size */
                color: black;
                /* Change the icon color */
            }
        }

        button {
            font-family: 'Work Sans', sans-serif;
            width: 100%;
            background-color: #ffcc00;
            font-size: 20px;
            padding: 10px;
            cursor: pointer;
        }
    }

    /* Center-align the text */
    .navbar a {
        text-decoration: none;
        /* Remove underline from links */
        color: #fff;
        /* Text color for links */
        margin: 0 15px;
        /* Margin between navbar items */

        a:hover {
            color: #ffcc00;
            /* Change text color to yellow on hover */
        }

    }
}

.hero {
    background-color: #f2ebd1;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    img {
        width: 100%;
        grid-area: 1 / 2 / 2 / 3;
    }

    h1 {
        font-size: 55px;
    }

    .hero-content {
        margin: 20px;
        padding: 30px;
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;

        h1 {
            padding: 35px;
        }

        p {
            font-size: 30px;
            padding: 35px;
            font-weight: 500;
        }

        button {
            width: 30%;
            background-color: #ffcc00;
            font-size: 35px;
            margin-left: 38px;
            cursor: pointer;
        }
    }
}

.hero-wave img {
    width: 100%;
    background: #f5ebd2;
    ;
}

.offers {
    padding: 0 30px;
    background-color: white;
    display: grid;
    grid-template-columns: 1.2fr 0.1fr 1.4fr 0.1fr 1fr;
    grid-template-rows: 0.6fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
        "one two three four five"
        "extra extra . . .";

    .extra {
        margin: 0 20px;
        padding: 0 40px;
        grid-area: extra;
        width: 100%;
        color: rgb(119, 118, 118);
    }

    .one {
        margin: 20px;
        padding: 40px;
        grid-area: one;
        display: flex;
        flex-direction: column;

        img {
            width: 10%;
        }

        h3,
        p {
            margin: 10px;
            font-size: 20px;
        }
    }

    .two {
        grid-area: two;
        border-left: 3px solid #000;
        /* 1px solid black line */
        height: 200px;
        margin: auto
    }

    .three {
        margin: 20px;
        padding: 40px;
        font-size: 20px;
        grid-area: three;

        img {
            width: 10%;
        }

        h3,
        p {
            margin: 10px;
            font-size: 20px;
        }
    }

    .four {
        grid-area: four;
        border-left: 3px solid #000;
        /* 1px solid black line */
        height: 200px;
        margin: auto
    }

    .five {
        margin: 20px;
        padding: 40px;
        font-size: 20px;
        grid-area: five;

        img {
            width: 10%;
        }

        h3,
        p {
            margin: 10px;
            font-size: 20px;
        }
    }
}

/*.savings {
    background-color: #FFF9EA;

    .blueberry,
    .milk,
    .meat,
    .pop,
    .af,
    .nec,
    .wafel,
    .mozz {
        background-color: white;
        width: 100px;
    }

    img {
        width: 50px;
    }

}*/

.savings {
    background-color: #FFF9EA;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "left right";

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.5em;
        color: #9A4726;
        margin-bottom: 10px;
    }

    p {
        font-size: 1em;
        color: #333;
        margin: 5px;
    }

    #black-lettrs {
        color: black;
    }

    .left {
        margin: 75px;
        background-color: #FFF9EA;
        grid-area: left;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 20px;
        grid-template-areas:
            "blueberry milk meat pop"
            "af nec wafel mozz";

        .blueberry {
            grid-area: blueberry;
            background-color: white;
            text-align: center;
            border-radius: 8px;
            box-shadow: 2px 7px 5px #4d4949;
        }

        .milk {
            grid-area: milk;
            background-color: white;
            text-align: center;
            border-radius: 8px;
            box-shadow: 2px 7px 5px #4d4949;
        }

        .meat {
            grid-area: meat;
            background-color: white;
            text-align: center;
            border-radius: 8px;
            box-shadow: 2px 7px 5px #4d4949;
        }

        .pop {
            grid-area: pop;
            background-color: white;
            text-align: center;
            border-radius: 8px;
            box-shadow: 2px 7px 5px #4d4949;
        }

        .af {
            grid-area: af;
            background-color: white;
            text-align: center;
            border-radius: 8px;
            box-shadow: 2px 7px 5px #4d4949;
        }

        .nec {
            grid-area: nec;
            background-color: white;
            text-align: center;
            border-radius: 8px;
            box-shadow: 2px 7px 5px #4d4949;

        }

        .wafel {
            grid-area: wafel;
            background-color: white;
            text-align: center;
            border-radius: 8px;
            box-shadow: 2px 7px 5px #4d4949;

        }

        .mozz {
            grid-area: mozz;
            background-color: white;
            text-align: center;
            border-radius: 8px;
            box-shadow: 2px 7px 5px #4d4949;
        }
    }

    .right {
        grid-area: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 45px;
            margin: 15px;
        }

        h2 {
            font-size: 25px;
            margin: 15px;
        }

        img {
            width: 20%;
        }

        ion-icon {
            color: green;
            font-size: 30px;
            margin: 9px;
        }

        p {
            font-size: 30px;
        }

        .par-one,
        .par-two,
        .par-three {
            display: flex;
            flex-direction: row;
            margin: 10px;
        }
    }
}

.scrolls {
    #scroll-container {
        border-radius: 5px;
        overflow: hidden;
        background-color: #DEA455;
    }

    #list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 30px;
        margin: 25px;
        color:#2D2D2D;
        font-family: 'Passion One', sans-serif;
    }

    #scroll-text {
        /* animation properties */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);

        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 40s linear infinite;
    }
    @-webkit-keyframes my-animation {
        from {
            -webkit-transform: translateX(100%);
        }

        to {
            -webkit-transform: translateX(-100%);
        }
    }
    @keyframes my-animation {
        from {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }

        to {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }
}

