*,
after,
before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}



/* 
&menu-toggle + .main-menu{
    display:block;
    display:none;
}
*/


/* Basic Navbar Styling */
.navbar {
    background-color: #f2ebd1;
    /* Background color of the navbar */
    color: black;
    /* Text color */
    padding: 10 px 20px;
    /* Padding around the navbar items */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
        margin: 18px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        li {
            margin: 8px;
            font-size: 20px;
            padding: 10px;

            ion-icon {
                font-size: 18px;
                /* Change the icon size */
                color: black;
                /* Change the icon color */
            }
        }

        button {
            font-family: 'Work Sans', sans-serif;
            width: 100%;
            background-color: #ffcc00;
            font-size: 20px;
            padding: 10px;
            cursor: pointer;

        }
    }

    /* Center-align the text */
    .navbar a {
        text-decoration: none;
        /* Remove underline from links */
        color: #fff;
        /* Text color for links */
        margin: 0 15px;
        /* Margin between navbar items */

        a:hover {
            color: #ffcc00;
            /* Change text color to yellow on hover */
        }

    }
}

.hero {
    background-color: #f2ebd1;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    img {
        width: 100%;
        grid-area: 1 / 2 / 2 / 3;
    }

    h1 {
        font-size: 55px;
    }

    .hero-content {
        margin: 20px;
        padding: 30px;
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;

        h1 {
            padding: 35px;
        }

        p {
            font-size: 30px;
            padding: 35px;
            font-weight: 500;
        }

        button {
            width: 30%;
            background-color: #ffcc00;
            font-size: 35px;
            margin-left: 38px;
            cursor: pointer;
        }
    }
}

.hero-wave img {
    width: 100%;
    background: #f5ebd2;
    ;
}